<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/api/order/new}" th:object="${order}" method="post">
        <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Date: <input type="date" th:field="*{date}" /></p>
        <p>Cost: <input type="text" th:field="*{cost}" /></p>
        <p>Products: <input type="text" th:field="*{products}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"></p>
</form>
</body>
</html>